- visibility_level = params.dig(:project, :visibility_level) || default_project_visibility

.row{ id: project_name_id }
  .form-group.project-path.col-sm-6
    = f.label :namespace_id, class: 'label-light' do
      %span
        项目路径
    .input-group
      - if current_user.can_select_namespace?
        .input-group-addon
          = root_url
        = f.select :namespace_id, namespaces_options(namespace_id_from(params) || :current_user, display_path: true, extra_group: namespace_id_from(params)), {}, { class: 'select2 js-select-namespace', tabindex: 1}

      - else
        .input-group-addon.static-namespace
          #{user_url(current_user.username)}/
        = f.hidden_field :namespace_id, value: current_user.namespace_id
  .form-group.project-path.col-sm-6
    = f.label :path, class: 'label-light' do
      %span
        项目名称
    = f.text_field :path, placeholder: "my-awesome-project", class: "form-control", tabindex: 2, autofocus: true, required: true
- if current_user.can_create_group?
  .help-block
    希望将几个相关联的项目放置于同一个命名空间下？
    = link_to "创建群组", new_group_path

.form-group
  = f.label :description, class: 'label-light' do
    项目描述
    %span (可选)
  = f.text_area :description, placeholder: '说明格式',  class: "form-control", rows: 3, maxlength: 250

.form-group.visibility-level-setting
  = f.label :visibility_level, class: 'label-light' do
    可见等级
    = link_to icon('question-circle'), help_page_path("public_access/public_access"), aria: { label: '文档可见化等级' }
  = render 'shared/visibility_level', f: f, visibility_level: visibility_level.to_i, can_change_visibility_level: true, form_model: @project, with_label: false

= f.submit '创建项目', class: "btn btn-create project-submit", tabindex: 4
= link_to '取消', dashboard_projects_path, class: 'btn btn-cancel'
